{% extends "repository/repositoryhome.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h3 class="article-title">Contributors</h3>
    </div>
      <div>
            <table class="table table-bordered ">
              <thead>
                <tr>
                  <td>#</td>
                  <th scope="col">Name</th>
                  <td></td>
                </tr>
                <tr>

                </tr>
              </thead>
              <tbody>
              {% for contributor in contributors %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ contributor.user.username }}</td>
                  {% if user.username != contributor.user.username %}
                      {% if owner != contributor.user.username %}
                      <td><a class="btn btn-danger" href="{% url 'collaborators-remove'   repoId=request.resolver_match.kwargs.repoId pk=contributor.id %}">Remove</a></td>
                      {% endif %}
                  {% else %}
                      <td></td>
                  {% endif %}
                </tr>

              {% endfor %}
              </tbody>
            </table>
      <div>

      <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Contributors</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>



{% endblock content %}
