{% extends "repository/repositoryhome.html" %}
{% block content %}
    {% for commit in commits %}
        <article class="media content-section">
            <div class="media-body">
                <h5 class="article-content">Commit : {{ commit.title }}</h5>
                <p>Commit message : {{ commit.message }}</p>
                <p><small>commited by {{ commit.commitedBy.user.username }} at {{ commit.commitedOn }}</small></p>
                <a class="btn btn-danger btn-sm mt-1 mb-1"
                   href="{% url 'commits-delete' branchId=commit.branch.id pk=commit.id %}">Delete</a>
                <a class="btn btn-dark btn-sm mt-1 mb-1"
                   href="{% url 'commits-update' repoId=commit.branch.repository.id branchId=commit.branch.id pk=commit.id %}">Update</a>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
