{% extends "repository/repositoryhome.html" %}
{% block content %}

    <div class="jumbotron">
        <div class="row">
            <h4 class="pl-3">Revisions</h4>
        </div>
        <hr>
        {% for revision in wikiRevisions %}
            <div class="row">
                <div class="form-check">
                    <input class="form-check-input ml-2 pt-1 single-checkbox" name="checks[]" type="checkbox" id="{{ revision.id }}"
                           value="{{ revision.id }}">
                    <label class="form-check-label ml-4" for="flexCheckDefault">
                        <h5 class="ml-2">{{ revision.wiki.title }}</h5>
                    </label>
                </div>
            </div>
            <div class="row">
                <p class="ml-5 pl-1"><small> {{ revision.reviser.user.username }}
                    commited {{ revision.updatedOn }}</small></p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}